body {
    background: lemonchiffon;
    background: blueviolet;
    background: #F5F5F5;
    font-family: Helvetica, Arial, sans-serif;
}

p {
    color: red;
    font-size: 24px;
  }
  .paragraph {
    color: purple;
    font-size: 36px;
  }
  #p3 {
    color: blue;
  }
  #p4 {
    color: yellow;
  }